  @media (max-width: 1200px) {
  
  .josushi {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  font-size: 120px;
  color: white;
  margin-bottom: 50px;
}
  .button {
  width: 100px;
  height: 100px;
  border: none;
  background: transparent; 
  padding: 0;            
  cursor: pointer;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  box-sizing: border-box;
}

.item{
  border: solid whitesmoke 5px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.item1{
background-color: #ff5757;
color: white;
}

.item2{
  background-color: #ffbb5c;
  color: white;
}

.item3{
  background-color: #cc5385;
  color: white;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff5757;
  font-size: 15px;
}

.container4{
  display: column;
  max-height: 50%;
  max-width: 50%;
  margin: 0 auto;
  padding-bottom: 150px;
}

  }  


@media (min-width: 1200px){
  .josushi {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  font-size: 201px;
  color: white;
  margin-bottom: 50px;
}
.button {
  width: 150px;
  height: 150px;
  border: none;
  background: transparent; 
  padding: 0;            
  cursor: pointer;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8%;
  height: 100vh;
  box-sizing: border-box;
}
.item{
  border: solid whitesmoke 5px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  min-height: 50px;
}

.item1{
grid-column: span 2;
background-color: #ff5757;
color: white;
}

.item2{
  background-color: #ffbb5c;
  color: white;
}

.item3{
  background-color: #cc5385;
  color: white;
}
.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff5757;
  font-size: 15px;
}

.container4{
  display: grid;
  grid-template: 1fr 1fr/1fr 2fr;
  max-height: 50%;
  max-width: 50%;
  margin: 0 auto;
  padding-bottom: 150px;
}
  }




.container1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff5757;
}

.inner {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  font-size: 50px;
  color: white;
  transition: width 0.45s cubic-bezier(.2,.9,.3,1),
              height 0.45s cubic-bezier(.2,.9,.3,1);
  box-sizing: border-box;
}

.button1 .inner { background-color: #cc5385; }
.button2 .inner { background-color: #ff8210; }
.button3 .inner { background-color: #5c0601; }

.button1:hover .inner {
  width: 70px;
  height: 150px;
  border-radius: 5px;
}

.button2:hover .inner {
  width: 150px;
  height: 70px;
border-radius: 5px;
}

.button3:hover .inner {
  width: 80px;
  height: 80px;
border-radius: 5px;
}


#screen-explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    padding: 20px;
    text-align: center;
    color: white;
    height: 100%;
}

#explanation {
    font-size: 20px;
    line-height: 1.6;
    color: white;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}


#screen-quiz {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    padding: 20px;
    text-align: center;
    color: white;
    position: relative; 
}

.quiz-content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    max-width: 600px;
    width: 100%;
    height: 100%;            
    margin: 0 auto;
}


.styled-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    min-width: 200px;
}

.styled-table th, 
.styled-table td {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: center;
}


#RenshuuBtn {
    background-color: #ff5757;
    color: white;
    border: none;
    padding: 20px 40px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

#NextBtn {
  background-color: transparent;
    color: white;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    font-size: 30px;
    position: absolute;

}

#RenshuuBtn:hover {
  background-color: #ff4e4e;
}

#quiz-input {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    outline: none; 
}

#quiz-feedback {
    margin: 10px 0;
    font-weight: bold;
    min-height: 24px;
}

#HintBtnExp, #HintBtnQuiz {
    width: 50px;      
    height: 50px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 24px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    transition: transform 0.2s;
    position: fixed; 
    right: 30px;
    bottom: 30px;
    z-index: 2000;    
    
    background-color: #ff5757;
    color: white;
}

#hint-popup-quiz, #hint-popup-exp {
    display: none; 
    
    position: fixed;
    bottom: 90px;     
    right: 30px;
    
    z-index: 2000;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #ddd;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    background-color: #ff5757;
    color: white;            
}

.lesson-images {
    display: flex;
    flex-direction: row;   
    align-items: center;      
    gap: 20px;                
    margin: 20px 0;
}

.lesson-images img {
    max-width: 50%;           
    height: auto;             
    border-radius: 10px;      
}


h2 {
  font-size: 15px;
  position: fixed;
  top: 5px;
  left: 5px;
}

#quiz-question {
  font-size: 40px;
  padding: 20px;

}
